body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
}

.text-animation {
    font-size: 3rem;
    color: white;
    opacity: 0;
    text-align: center;
}

#myBtn {
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 99;
    border: 2px solid #4e3634;
    color: #4e3634;
    padding-top: 10px 10px 0 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.7;
}

#myBtn:hover {
    background-color: #f5eeee;
}

.coffee-images img {
    width: 19.3%;
    height: 150px;
    display: inline-block;
    margin-bottom: 10px;
}

.home-text {
    text-align: justify;
    padding: 50px;
}

.background-img {
    width: 100%;
    height: 200px;
    opacity: 0.8;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.about-div {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 2%;
    
}

.about-left-section {
    width: 70%;
    height: auto;
    padding: 100px 100px 50px 100px;
    text-align: justify;
    align-items: center;
    border: 1px solid black;
}

.about-right-section {
    width: 100%;
    height: auto;
}

.bg-img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (max-width: 760px) {
    nav {
        display: none;
        padding: 2rem;
    }
}