body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
}

.text-animation {
    font-size: 3rem;
    color: white;
    opacity: 0;
    text-align: center;
}

#myBtn {
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 99;
    border:2px solid #4e3634;
    color: #4e3634;
    padding-top: 10px 10px 0 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.7;
  }
  
#myBtn:hover {
    background-color: #f5eeee;
  }

.coffee-images img {
    width: 19.3%;
    height: 150px;
    display: inline-block;
    margin-bottom: 10px;
}

.home-text {
    text-align: justify;
    padding: 50px;
}